/* General styling for the HomeCompounds component */
.bedsitters-container {
  background-color: #F5F5F5;
  display: flex;
  min-height: 100vh;
}

/* Home */
.home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #F0F0F0; 
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
}

.contact-section {
  width: 100%;
  padding: 10px;
  background-color: #046ec5;
  text-align: center;
}

.logo-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  width: 100%;
  margin-top: 20px;
}

.logo img {
  width: 90px;
  height: 40px;
}

/* Sidebar */
.sidebar {
  margin-top: 153px;
  width: 350px;
  height: 500px;
  background-color: #D9D9D9;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown-btn {
  width: 100%;
  color: #000000;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #ffffff;
  cursor: pointer;
}

.search-section1 {
  margin-bottom: 20px;
}

.search-section1 input {
  border-radius: 20px;
  border: none;
  width: 200px;
  height: 20px;
  margin-top: 5px;
  margin-left: 15px;
}

.search-section1 button {
  margin-left: 70px;
  height: 35px;
}

.price-section {
  margin-bottom: 20px;
  text-align: center;
}

.price-section h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.price-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price-section button {
  margin-left: 10px;
}

/* Main content */
.main-content {
  display: flex;
  width: 100%;
  background: #F5F5F5;
  flex-direction: column;
}

/* Location section */
.location-section {
  background-color: #E8E7E7;
  text-align: center;
  padding: 20px;
  height: 195px;
  margin-top: 132px;
  margin-right: 20px; 
  -ms-overflow-style: none; 
  overflow-x: auto; 
}

.visited-locations {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: -410px;
  gap: 10px;
}

.location-card {
  background-color: #F5F1F1;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  overflow-x: hidden;
}

/* Styling for the search section */
.search-section input {
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.search-section button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: #046ec5;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

/* Home compounds section */
.home-compounds-list {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 10px;
  max-height: 640px; /* Set maximum height for 4 rows */
  overflow-y: auto; 
}

.home-compound-card {
  background-color: #E8E7E7;
  width: 190px;
  flex-basis: calc(20% - 10px); 
  height: 200px;
  border-radius: 10px;
  overflow-x: hidden;
}

/* Footer */
.footer {
  width: 118%;
  margin-left: -330px;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  margin-top: auto; 
}

.footer button {
  padding: 8px;
  border-radius: 5px;
  margin-right: 20px;
  background-color: #046ec5;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.footer button:last-child {
  margin-right: 0;
}
